.list {
  &__header-line {
    display: grid;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid $c-black;
    margin-bottom: 1rem;
  }

  &__line {
    display: grid;
    &:not(:last-of-type) {
      margin-bottom: 1rem;
    }
  }

  &--3-items {
    .list__header-line,
    .list__line {
      grid-template-columns: 5fr 1fr 230px;
    }
  }

  &--4-items {
    .list__header-line,
    .list__line {
      grid-template-columns: 4fr 1fr 1fr 2fr 40px;
    }
  }
}
