.navigation {
  padding-top: 1rem;

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__list-item {
    &:not(:last-of-type) {
      margin-bottom: 0.5rem;
    }
  }

  &__link {
    padding: 0.5rem 1rem;
    width: 100%;
    border-radius: 0.25rem;
  }

  [data-link='bin'] {
    &::after {
      content: attr(data-count);
      flex-shrink: 0;
      margin-left: 0.25rem;
      border-radius: 100vmax;
      padding: 2px 4px;
      font-size: 12px;
      font-weight: 600;
      line-height: 1;
      border: 1px solid $c-black;
    }
  }
}
