.navigation {
  padding-top: 1rem;

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__list-item {
    &:not(:last-of-type) {
      margin-bottom: 0.5rem;
    }
  }

  &__link {
    @include hover-default;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    width: 100%;
    background-color: $c-accent;
    color: $c-white;
    border-radius: 0.25rem;
  }

  [data-link='bin'] {
    &::after {
      content: attr(data-count);
      flex-shrink: 0;
      margin-left: 0.25rem;
      background-color: $c-white;
      color: $c-accent;
      border-radius: 100vmax;
      padding: 2px 4px;
      font-size: 12px;
      font-weight: 600;
      line-height: 1;
    }
  }
}
