.bin-item {
  &__remove-button {
    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 30px;
      height: 2px;
      background-color: $c-black;
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}
